<div id="invoice_index">
  <div class="container">
    <h1>Edit Invoice</h1>
    <%= form_for @invoice do |f| %>
      <div class="row">
        <form class="col s12">
          <div class="row">
            <div class="input-field col s6">
              <%= f.text_field :client_name, :class => "validate" %>
            </div>
            <div class="input-field col s6">
              <input type="date" class="datepicker">
            </div>
          </div>
          <div class="row">
            <div class="input-field col s12">
              <%= f.text_field :project_name, :class => "validate" %>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s12">
              <%= f.text_field :project_summary, :class => "validate" %>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s12">
              <%= f.text_field :amount_due, :class => "validate" %>
            </div>
          </div>
          <button class="btn waves-effect waves-light" type="submit" name="action">Save Invoice</button>
          <% end %>
        </form>
      </div>
  </div>
</div>
