<div id="invoice_index">
  <div class="container">
    <h1>Create a New Invoice</h1>
    <%= form_for @invoice do |f| %>
      <div class="row">
        <form class="col s12">
          <div class="row">
            <div class="input-field col s6">
              <%= f.select :user_id, { Mattell: 37, NBC: 38 }, :prompt => 'Client Name' %>
            </div>
            <div class="input-field col s6">
              <%= f.date_field :date, :class => "datepicker" %>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s12">
              <%= f.label :project_name, "Project Name" %>
              <%= f.text_field :project_name, :class => "validate" %>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s12">
              <%= f.label :project_summary, "Project Summary" %>
              <%= f.text_field :project_summary, :class => "validate" %>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s12">
              <%= f.label :amount_due, "Amount Due" %>
              <%= f.text_field :amount_due, :class => "validate" %>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s6">
              <%= f.select :status, { Paid: true, Unpaid: false }, :prompt => 'Payment Status' %>
            </div>
            <div class="input-field col s6">
              <button class="btn waves-effect waves-light" type="submit" name="action">Save Invoice</button>
            </div>
          </div>
          <% end %>
        </form>
      </div>
  </div>
</div>
